.authorizationContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    box-sizing: border-box;
}

.themeToggle {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 2; 
}
