.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 20px;
}
  
.navigationContainer {
    display: flex;
    align-items: center;
    gap: 30px;
    width: 100%;
    max-width: 800px;
}
  
.cardContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    width: 240;
    height: 240;
}
  
.card {
    width: 100%;
    max-width: 400px;
    min-height: 300px;
    transition: transform 0.3s;
    cursor: pointer;
}
  
.navButton {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.cardCounter {
    margin-top: 20px;
    font-size: 18px;
    color: #666;
}

