.mainContainer {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.sectionCard {
    margin-bottom: 24px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    padding: 0px;
}

.cardItem {
    margin-bottom: 16px;
    background-color: rgba(0,0,0, 0.05);
}

.centerContainer {
    display: flex;
    justify-content: center;
    width: 100%;
}
