.switchContainer {
    margin-bottom: 1px;
    padding-left: 20px;
  }
  
.switchContainerDark {
    background: #2e2e2e;
    border-bottom: 1px solid #f6f6f624;
}
  
.switchContainerLight {
    background: #ffffff;
    border-bottom: 1px solid #0505050f;
}