.switchContainer {
    padding-left: 20px;
    height: 100%;
  }
  
.switchContainerDark {
    background: #2e2e2e;
    border-bottom: 1px solid #f6f6f624;
}
  
.switchContainerLight {
    background: #ffffff;
    border-bottom: 1px solid #0505050f;
}

.logoContainer {
    cursor: pointer;
    height: 100%;
    padding-left: 20px;
}

.logoContainerLight {
    background: #ffffff;
    border-bottom: 1px solid #0505050f;
}

.logoContainerDark {
    background: #2e2e2e;
    border-bottom: 1px solid #f6f6f624;
}


.logoText {
    font-weight: 600;
    font-size: 18px;
    letter-spacing: -0.5px;
}

@media (max-width: 500px) {
.logoText {
    display: none;
}}

.searchContainer {
    height: 100%;
    padding-left: 20px;
}

.searchContainerLight {
    background: #ffffff;
    border-bottom: 1px solid #0505050f;
}

.searchContainerDark {
    background: #2e2e2e;
    border-bottom: 1px solid #f6f6f624;
}

  
.searchButton {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
}

.header {
    position: sticky;
    top: 0;
    z-index: 1;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0;
}
  
.menu {
    flex: 1;
    flex-direction: row-reverse;
    min-width: 0;
}